// Генерируемый файл. Не редактировать вручную!
@use "sass:map";

@font-face {
  font-family: "LuminaIcons";
  src: url("../../assets/fonts/LuminaIcons.woff2") format("woff2"), 
       url("../../assets/fonts/LuminaIcons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

%icon-base {
  font-family: "LuminaIcons" !important;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-align: center;
  vertical-align: middle;

  transform-origin: center center; 

  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Карта иконок
$icon-map: (
  "arrow": "\EA01",
  "arrow-nav": "\EA02",
  "cart": "\EA03",
  "slider-arrow": "\EA04",
);

@function get-icon($name) {
  @if map.has-key($icon-map, $name) {
    @return map.get($icon-map, $name);
  }
  @else {
    @warn "Иконка '#{$name}' не найдена в шрифте LuminaIcons";
    @return null;
  }
}

.icon-f-arrow::before {
  @extend %icon-base;
  content: "\EA01";
}

.icon-f-arrow-nav::before {
  @extend %icon-base;
  content: "\EA02";
}

.icon-f-cart::before {
  @extend %icon-base;
  content: "\EA03";
}

.icon-f-slider-arrow::before {
  @extend %icon-base;
  content: "\EA04";
}

