@import "global/null";
@import "global/base";
@import "global/fonts";
@import "global/icon-fonts";
@import "../styleguide/scss/sprite-map";

// @import "styleguide/sprite-map";

// ~ Модули (modules)
// @import "modules/burger";

// @import "modules/datepicker";
// @import "modules/range";
// @import "modules/forms";

// @import "modules/swiper";

// ~ Компоненты (components)
// @import "components/button";
// @import "components/block";

// ~ Страницы (pages)

// @import "pages/start";

body {
  display: flex;
  flex-direction: column;
  font-family: $fontFamily;
  font-size: $fontSize;
  background-color: $colorBg;
  color: $fontColor;
  position: relative;
}

.main {
  flex: 1;
}

.ptb {
  @include adaptiveValue("padding-top", 96, 76);
  @include adaptiveValue("padding-bottom", 96, 76);
}
